<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackathon</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="profileSideBar">
        <h1>TT6</h1>
        <img src="./static/logo.png">

        <i class="fas fa-user-tag"></i>            
        <p> Hello,
        <br> {{ name }}</br>

        <div class="navigationTab">
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('index') }}">Login</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('catalog') }}">Catalog</a>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
                {% if current_user.get_id() == 'user@catalog.com' %}
                <a href="{{ url_for('upload') }}">Upload</a>
                {% endif %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
    </div>
    {% block content %} 
    {% endblock %}  
</body>
</html>