* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* margin-top: -50px; */

}


body.before {
    /* background-color: #435165; */
    background: url(marina.jpg);
    background-size: 100%;
    background-position: center 30%;
    background-repeat: no-repeat;
    margin: 0;
    /* margin-top: -50px; */
    
}

/* Login and Register */

.login, .register {
    width: 400px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    /* margin: 300px auto; */
    opacity: .9;
    top: 20%;
    left: 35%;
    position: fixed;

}

.links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.links a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    color: rgb(113, 113, 114);
    border-bottom: solid rgb(232, 232, 233);
}

.links a:hover{
    color: #ffffff;
    border-bottom: solid rgb(20, 48, 235);

}
.links a.active{
    color: #ffffff;
    border-bottom: solid rgb(20, 48, 235);
}

.login form, .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label, .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 10px;
    padding: 0 15px;
    font-size: 18px;
}

.tabContent input:hover{
    border-bottom: none;
    box-shadow: 2px 3px grey;
}

.tabContent input[type=email],input[type=password]{
    font-size: 18px;
}

.tabSubmitBtn button[type=submit]{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.tabSubmitBtn button[type=submit]:hover{
    cursor: pointer;
    background-color: rgb(240, 190, 143);
    transition: background-color 0.2s;

}



/* For base */
/* sidebar */

.profileSideBar {
    height: 100vh;
    /* width: 130px; */
    width: 10%;
    left: 10px;
    background: linear-gradient(rgba(70, 64, 156, 0.548), rgba(0, 0, 0, .9)), url(side.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 15px #999;
    color: #ffffff;
    float:left;
}

.profileSideBar i{
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    justify-content: center;
}

.profileSideBar img{
    width: 70%;
}

.headerBar h1{
    color: #ffffff;
    font-size: 40px;
    padding-right: 10px;
}

.navigationTab { 
    margin-right: 30px;
}

.navigationTab a{ 
    padding: 10px;
    font-size: 15px;
    color: #ffffff;

}


/* .alert{
    background-color: whitesmoke;
    color: red;
    text-align: center;
    margin-top: 20px;
    text-align: left;
} */